html {
  margin: 20px;
  min-width: 550px;
  min-height: 650px;
}

#task {
  min-width: 240px;
}

#importance,
#urgency {
    min-width: 120px;
    margin-bottom: 15px;
}

#submit,
#reset {
  min-width: 70px;
}

.no-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

h5 {
  margin: 2px 0px;
}

.btn-group {
  min-width: 240px;
}

.form-padding {
  padding-bottom: 15px;
}

.bg-text-lg {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 37.5%;
  color: grey;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.bg-text-med {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 52.5%;
  color: grey;
  font-size: 12px;
  text-align: center;
}
#iu {
  background-image: -moz-linear-gradient(top, #FFE4E4, #FFA3A2);
  background-image: -webkit-linear-gradient(top, #FFE4E4, #FFA3A2);
  background-image: -o-linear-gradient(top, #FFE4E4, #FFA3A2);
  background-image: linear-gradient(to bottom, #FFE4E4, #FFA3A2);
  border: solid 2px #BE4B48;
  height: 37.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

#nu {
  background-image: -moz-linear-gradient(top, #E4EEFF, #A4C4FF);
  background-image: -webkit-linear-gradient(top, #E4EEFF, #A4C4FF);
  background-image: -o-linear-gradient(top, #E4EEFF, #A4C4FF);
  background-image: linear-gradient(to bottom, #E4EEFF, #A4C4FF);
  border: solid 2px #4A7EBB;
  height: 37.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

#in {
  background-image: -moz-linear-gradient(top, #F5FFE6, #DAFDA8);
  background-image: -webkit-linear-gradient(top, #F5FFE6, #DAFDA8);
  background-image: -o-linear-gradient(top, #F5FFE6, #DAFDA8);
  background-image: linear-gradient(to bottom, #F5FFE6, #DAFDA8);
  border: solid 2px #98B954;
  height: 37.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

#nn {
  background-image: -moz-linear-gradient(top, #EDEDED, #BDBDBD);
  background-image: -webkit-linear-gradient(top, #EDEDED, #BDBDBD);
  background-image: -o-linear-gradient(top, #EDEDED, #BDBDBD);
  background-image: linear-gradient(to bottom, #EDEDED, #BDBDBD);
  border: solid 2px #000;
  height: 37.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}
