html {
  margin: 20px;
  min-width: 825px;
  min-height: 500px;
}

#task {
  min-width: 240px;
}

#importance, #urgency {
  min-width: 120px;
  margin: 5px 0px;
}

#submit {
  min-width: 70px;
}

.no-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.task {
  margin: 2px 0px;
}

.no-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

h5 {
  margin: 2px 0px;
}

.btn-group {
  min-width: 240px;
}

.form-padding {
  padding-bottom: 15px;
}

.bg-text-lg {
  z-index: -1;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

/*.bg-text-med {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 52.5%;
  color: grey;
  font-size: 12px;
  text-align: center;
}*/

.hdiu {
  background-color: MediumSeaGreen;
  height: 25px;
  margin: -5px -5px 0px -5px;
}

#iu {
  border: solid 2px MediumSeaGreen;
  height: 37.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  /*margin: 2px;*/
  z-index: 0;
  border-radius: 8px;
}

.hdnu {
  background-color: cornflowerblue;
  height: 25px;
  margin: -5px -5px 0px -5px;
}

#nu {
  border: solid 2px cornflowerblue;
  height: 37.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  /*margin: 2px;*/
  z-index: 0;
  border-radius: 8px;
}

.hdin {
  background-color: orange;
  height: 25px;
  margin: -5px -5px 0px -5px;
}

#in {
  border: solid 2px orange;
  height: 37.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  /*margin: 2px;*/
  z-index: 0;
  border-radius: 8px;
}

.hdnn {
  background-color: lightcoral;
  height: 25px;
  margin: -5px -5px 0px -5px;
}

#nn {
  border: solid 2px lightcoral;
  height: 37.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  /*margin: 2px;*/
  z-index: 0;
  border-radius: 8px;
}

.footer {
  text-align: right;
}
