* { outline: none; }
body {
  margin: 10px;
}
h4 { text-align: center; color: rgba(0,0,0,0.5); }
h6 { background: #f77; margin: 0; text-align: center;
		font-weight: bold;
	height: 30px; line-height: 30px; }
.box {
	display: inline-block;
	float: left;
	width: 50%;
	padding: 10px;
	overflow: auto;
}
#iu { background: #afa; }
#nu { background: #aaf; }
#in { background: #ffa; }
#nn { background: #fff; }
ul { padding-top: 15px; }
li {
	list-style-type: none;
}
.taskinfo {
	margin: auto;
	text-align: center;
	width: 350px;
}
button{
	margin-top: 10px;
	padding: 10px 15px;
	background: #4479BA;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
button:hover {
	background: #356094;
	border: solid 1px #2A4E77;
	text-decoration: none;
}
button:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: #2E5481;
	border: solid 1px #203E5F;
}

input[type="text"] {
	border: none;
	background: rgba(52,102,153,0.25);
	width: 95%;
	padding: 5px 5px 5px 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	color: rgba(0,0,0,0.5);
}
input[type="text"]:focus {
	background: rgba(52,102,153,0.5);
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	display: inline-block;
	width: 100px;
	margin: 5px -2px;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,rgba(52,102,153,0.10),rgba(52,102,153,0.35));
	background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(52,102,153,0.10)),to(rgba(52,102,153,0.35)));
	background-image: -webkit-linear-gradient(top,rgba(52,102,153,0.10),rgba(52,102,153,0.35));
	background-image: -o-linear-gradient(top,rgba(52,102,153,0.10),rgba(52,102,153,0.35));
	background-image: linear-gradient(to bottom,rgba(52,102,153,0.10),rgba(52,102,153,0.35));
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

input[type=radio]:checked + label {
	   background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		background-color:rgba(52,102,153,0.40);
}
